title=Contribute to Adblock Plus

<head>
<link href="/css/topics.css" rel="stylesheet">
<link href="/css/topics-desktop.css" media="(min-width: 1000px)" rel="stylesheet">
<link href="/css/topics-mobile.css" media="(max-width: 1000px)" rel="stylesheet">
<link href="/css/contribute.css" rel="stylesheet">
<meta content="{{s2 Adblock Plus is an open source, community-driven project. There are many ways for you to contribute to the project.}}" name="description">
<meta content="{{s2 Adblock Plus is an open source, community-driven project. There are many ways for you to contribute to the project.}}" property="og:description">
</head>

<p>
  {{s5 <fix>Adblock Plus</fix> is an open source, community-driven project licensed under <a href="https://www.gnu.org/licenses/gpl.html">GPLv3</a> aimed at making the Internet better for everyone.}}
</p>

<p><strong>{{s6 Please support Adblock Plus if you like using it.}}</strong></p>

<div id="toc">
  <a class="topic-small" href="#spread-the-word">
    <div class="task-spread-the-word sprite"></div>
    <p>{{s7 Spread the word}}</p>
  </a>
  <a class="topic-small" href="#report-bugs">
    <div class="task-report-bugs sprite"></div>
    <p>{{s8 Report bugs}}</p>
  </a>
  <a class="topic-small" href="#contribute-code">
    <div class="task-contribute-code sprite"></div>
    <p>{{s9 Contribute code}}</p>
  </a>
  <a class="topic-small" href="#help">
    <div class="task-help sprite"></div>
    <p>{{s10 Help other users}}</p>
  </a>
  <a class="topic-small" href="#translate">
    <div class="task-translate sprite"></div>
    <p>{{s11 Translate Adblock Plus}}</p>
  </a>
  <a class="topic-small" href="#suggest">
    <div class="task-suggest sprite"></div>
    <p>{{s12 Bring in suggestions}}</p>
  </a>
  <a class="topic-small" href="#donate">
    <div class="task-donate sprite"></div>
    <p>{{s13 Donate}}</p>
  </a>
  <a class="topic-small" href="#filters">
    <div class="task-filters sprite"></div>
    <p>{{s14 Add or improve filters}}</p>
  </a>
  <a class="topic-small" href="#acceptable">
    <div class="task-acceptable sprite"></div>
    <p>{{s15 Evaluate acceptable ads}}</p>
  </a>
</div>

<div id="list">
  <div class="topic first">
    <div class="task-spread-the-word sprite"></div>
    <a name="spread-the-word">
      <h3>{{s7 Spread the word}}</h3>
    </a>
    <div class="description">
      <div class="longtext">
        <p>
          {{s17 If Adblock Plus has improved your browsing experience, why not recommend it to your friends, colleagues or blog followers?}} 
        </p>

        <p><strong>
          {{s19 There are many ways you can help our cause:}}
        </strong></p>

        <ul>
          <li>{{s20 Follow us on <a href="http://facebook.com/adblockplus">Facebook</a>, <a href="https://plus.google.com/110020691898167279887">Google+</a>, <a href="https://instagram.com/adblockplus">Instagram</a>, and <a href="https://twitter.com/adblockplus">Twitter.</a>}}</li>
          <li>{{s21 Share the <a href="/">installation link</a> on your blog or on social networks.}}</li>
          <li>{{s22 Discuss the <a href="deployments">benefits</a> of installing Adblock Plus at your organization.}}</li>
          <li>{{s23 Write an op/ed piece, or contact your local media, about Internet privacy and security issues.}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="topic">
    <div class="task-report-bugs sprite"></div>
    <a name="report-bugs">
      <h3>{{s8 Report bugs}}</h3>
    </a>
    <div class="description">
      <div class="longtext">
        <p>
          {{s25 If you think Adblock Plus isn't behaving the way it should, <a href="bugs">tell us</a>.}} {{s26 You may encounter a situation that is new to us, therefore we rely on your bug report to fix the issue.}} 
          {{s27 Please be sure to include all of the necessary information needed to reproduce the issue, such as: the browser and browser version, the version of Adblock Plus and the conditions in which the issue occurs.}} {{s28 Additionally, please be on the lookout for any follow-up questions we may have.}}
        </p>

        <h4>{{s29 Test development builds}}</h4>

        <p>
          {{s30 Before a new version of Adblock Plus is released, several 
          <a href="development-builds">development builds</a> are produced.}} {{s31 The purpose
          of these builds is to catch bugs and, sometimes, imperfect features before they are
          released to the public.}} {{s32 To receive development build release notifications, subscribe to the
          <a href="/atom/?section=development-builds">RSS feed</a>.}}
        </p>
      </div>
    </div>
  </div>

  <div class="topic">
    <div class="task-contribute-code sprite"></div>
    <a name="contribute-code">
      <h3>{{s9 Contribute code}}</h3>
    </a>
    <div class="description">
      {{s34 Whether you're fixing a bug or adding a new feature, code contribution is always welcome.}}

      <div class="longtext">
        {{s35 Contributing to the Adblock Plus code is very involved and highly appreciated.
        There's a lot to do! Please see the <a href="contribute-code">contribute code</a> page to get started.}}
      </div>
    </div>
  </div>

  <div class="topic">
    <div class="task-help sprite"></div>
    <a name="help">
      <h3>{{s10 Help other users}}</h3>
    </a>
    <div class="description">
      <div class="longtext">
        <p>
          {{s37 If you are an experienced Adblock Plus user, consider answering questions from new users.}} {{s38 Have a look at the
          <a href="/forum/" hreflang="end">forum</a>; there are always users looking for assistance with various Adblock Plus topics.}}
        </p>
      </div>
    </div>
  </div>

  <div class="topic">
    <div class="task-translate sprite"></div>
    <a name="translate">
      <h3>{{s11 Translate Adblock Plus}}</h3>
    </a>
    <div class="description">
      <div class="longtext">
        <p>
          {{s40 Adblock Plus is currently translated into more than 30 languages (yet some
          translations have been abandoned), and we still need translators for more
          languages!}} {{s41 To contribute as a translator, please register on
          <a href="http://crowdin.net/">Crowdin</a> and join our translation projects:
          <a href="http://crowdin.net/project/adblockplus">Adblock Plus for Firefox</a>,
          <a href="http://crowdin.net/project/adblockpluschrome">Adblock Plus for Chrome</a>,
          <a href="http://crowdin.net/project/elemhidehelper">Element Hiding Helper</a>,
          <a href="http://crowdin.net/project/abpcustomization">Customizations for Adblock
          Plus</a>.}} {{s42 Select a language and start suggesting
          translations!}} {{s43 If translating text isn't what you're looking for, you can simply vote on translations provided by other users.}}
        </p>
      </div>
    </div>
  </div>

  <div class="topic">
    <div class="task-suggest sprite"></div>
    <a name="suggest">
      <h3>{{s12 Bring in suggestions}}</h3>
    </a>
    <div class="description">
      <div class="longtext">
        <p>
          {{s45 There is always something that can be improved, so please share your ideas with us.}} {{s46 We encourage you to not only tell us what needs to be changed, but explain to us <em>how</em> it should be changed.}} {{s47 Feel
          free to open a new thread in the <a href="/forum/" hreflang="en">forum</a> or join an existing discussion.}} {{s48 Note that for various reasons, not every suggestion will be accepted. And remember, please stay constructive in your criticism.}}
         </p>
      </div>
    </div>
  </div>

  <div class="topic">
    <div class="task-donate sprite"></div>
    <a name="donate">
      <h3>{{s49 Donate}}</h3>
    </a>
    <div class="description">
      <div class="longtext">
        <p>
          {{s50 With more funds, we can improve Adblock Plus faster.}} {{s51 Visit the <a href="donate">contribution
          page</a> to make a donation.}}
        </p>
      </div>
    </div>
  </div>

  <div class="topic">
    <div class="task-filters sprite"></div>
    <a name="filters">
      <h3>{{s14 Add or improve filters}}</h3>
    </a>
    <div class="description">
      <div class="longtext">
        <p>
          {{s53 Adblock Plus is only as good as its filters.}} {{s54 Share your filters, suggest new ones or help communities of volunteer contributors to draft and update filter lists.}} {{s55 These filter lists need to be constantly maintained to block menaces like new tracking systems, malware threats and intrusive ads.}} {{ filter-requirements-link Click <a href="filter-lists-requirements">here</a> for a list of requirements. }}
        </p>

        <p>
          {{s56 If you come across a website on which an ad isn't blocked, or a filter list causes an issue, please <a href="getting_started#false-positives">report it</a>.}}
        </p>

        <p>
            <strong>{{Notice Eyeo GmbH, the company behind Adblock Plus, has no right to, or control over, any filter list content other than Acceptable Ads.}}</strong>
        </p>
      </div>
    </div>
  </div>

  <div class="topic">
    <div class="task-acceptable sprite"></div>
    <a name="acceptable">
      <h3>{{s15 Evaluate acceptable ads}}</h3>
    </a>
    <div class="description">
      <div class="longtext">
        <p>
          {{s61 Eyeo is the originator behind the <a href="acceptable-ads">Acceptable Ads initiative</a>, which is aimed at supporting websites that choose to use nonintrusive ads.}}
          {{s62 Criteria defining nonintrusive, and therefore acceptable ads, has been established based on <a href="acceptable-ads#criteria">strict guidelines</a>.}}
        </p>

        <p>
          {{s63 We encourage users to join the ongoing discussion to determine which ads qualify as <em>acceptable ads</em>. Visit the <a href="/forum/viewforum.php?f=12" hreflang="en">forum</a> to share your thoughts.}}
        </p>
      </div>
    </div>
  </div>
</div>
