<aside id="reinstall" class="fg-accent">
  <div class="container content">
    <p class="lead">
      {{ "Did you uninstall Adblock Plus by accident?" | translate("reinstall-headline", "Text next to the Reinstallation button") }}
      {{ "index" | linkify(class="button accent") }}{{ "Reinstall Now" | translate("reinstall", "Reinstall button text") }}</a>
    </p>
  </div>
</aside>
